<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.spotweb.spot.dao.HealthDao">

<select id="getHealth" resultType="HealthDto">
       	select 1 first
</select>

	<!-- 
   	<select id="selectQnA" resultType="qna">
       	select 	qna_no as qnaNo,
       			qna_title as qnaTitle,
       			qna_content as qnaContent,
       			qna_userid as qnaUserid,
       			qna_datetime as qnaDatetime,
       			reply_content as replyContent,
       			reply_datetime as replyDatetime,
       			reply_userid as replyUserid
       	from qna_board
       	order by qna_no desc
   	</select>
   
   <select id="detailQnA" resultType="qna">
       	select 	qna_no as qnaNo,
       			qna_title as qnaTitle,
       			qna_content as qnaContent,
       			qna_userid as qnaUserid,
       			qna_datetime as qnaDatetime,
       			reply_content as replyContent,
       			reply_datetime as replyDatetime,
       			reply_userid as replyUserid
       from qna_board
       where qna_no=#{qna_no}
   </select>
   
   <insert id="writeQnA" >
       insert into qna_board (qna_no,qna_title,qna_content,qna_userid,qna_datetime) values 
        (null,#{qnaTitle},#{qnaContent},#{qnaUserid},now()) 
   </insert>
   
   <delete id="deleteQnA">
       delete from qna_board
       where qna_no=#{qnaNo}
   </delete>
   
   <update id="updateQnA">
       update qna_board
       set qna_title=#{qnaTitle}, qna_content=#{qnaContent}
       where qna_no=#{qnaNo}
   </update>
    -->
</mapper>    
    
    
    
    
    
    